.DS_Store
.project
.settings
.classpath
.jupiter
.pydevproject
.checkstyle
target
bin
.metadata/
.idea/
**/*.iml
*/logs/
integrity-audit/sql/generatedCreateIA.ddl
integrity-audit/sql/generatedDropIA.ddl
integrity-audit/sql/iaTest.mv.db
integrity-audit/sql/iaTest.trace.db
integrity-audit/sql/iaTest2.mv.db
integrity-audit/sql/iaTest2.trace.db
integrity-audit/testingLogs/common-modules/integrity-audit/audit.log
integrity-audit/testingLogs/common-modules/integrity-audit/debug.log
integrity-audit/testingLogs/common-modules/integrity-audit/error.log
integrity-audit/testingLogs/common-modules/integrity-audit/metrics.log
integrity-monitor/IntegrityMonitor.log.*
*.log
